<div class="full">
  <div class="seventy-five">
    <div>
      <%= image_tag "https://pbs.twimg.com/profile_images/378800000567934878/78ca70bb96160886cf0af1c282b55249.jpeg", class: "img-responsive" %>

    </div>
  </div>
  <div class="twenty-five background-black">
    <div class="sidebar">
      <h1>Adam London</h1>
      <h2>Memories</h2>
    </div>
  </div>
</div>